<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    
    package="com.example.cal_demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.cal_demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank0Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank1Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank2Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank3Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank4Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank998Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank5Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank6Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank7Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank8Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank997Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank9Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank10Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank11Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
        <activity
            android:name="com.example.cal_demo.Rank12Activity"
            android:label="@string/title_activity_rankone" >
        </activity>
    </application>
    

</manifest>
